<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="test.plugin"
  version="0.0.1">

    <name>PrintPlugin</name>
    <description>PrintPlugin for Brother Mobile SDK</description>
    <author>Arooj Fatima</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <js-module src="www/print.js" name="broprint">
        <clobbers target="PrintPlugin" />
    </js-module>

     <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Print">
                <param name="android-package" value="test.plugin.Print"/>
            </feature>
        </config-file>
        <source-file src="src/android/test/plugin/Print.java" target-dir="src/test/plugin" />
    </platform>

</plugin>